.pilot-flag {
  width: auto;
  height: 15px;
  align-self: center;
}

.drivers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
  width: 100%;
  align-items: center;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #9a0101,
    #340101
  ) !important;
  display: flex;
  justify-content: center;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    bottom: 100%;
    border-bottom: 40.41px solid #9a0101 !important; 
}

.card:after {
  content: "";
  position: absolute;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  top: 99.94%;
  border-top: 40.41px solid #340101 !important;
}

.card:hover {
  transform: translateY(-30px);
}

.pilot-image {
  position: absolute;
  width: 125px;
  height: 125px;
  border: 2px solid #c9c9c9;
  border-radius: 50%;
  top: 7px;
  z-index: 1;
}

.pilot-name {
  position: absolute;
  width: 130px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  top: 147px;
  z-index: 1;
  color: #c9c9c9;
}